.cardSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;

}
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid rgb(102, 185, 236);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 80px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 2px solid black;
    /* align-items: center; */
    max-width: 700px;
}

.card .title_area {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: black;
}

.card p {
    margin-bottom: 10px;
    color: rgb(77, 77, 77);

}