.mainSection{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    background-color: white;
    border-radius: 20px;
    padding:100px;
    font-size: 14px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(55, 55, 55, 0.19);
}
.heading{
    font-weight: bold;
    font-size: 30px;
    margin-bottom:20px;
}
.addSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-bottom:20px;
}
.addSection>button{
    background-color: grey;
    color: white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    padding:5px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.addTodo{
    border:none;
    border-bottom:2px solid grey;
    outline:none;
    padding:10px;
    width: 250px;
    font-size: 16px;
}
.card{
    border:1px solid grey;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    gap:10px;
}
.todoText {
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
}

.delete{
    background-color:white;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit{
    background-color: white;
    color: black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    padding:5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.addSection>button:hover{
    background-color: black;
}
.checkbox{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.checkbox:hover{
    background-color: lightgrey;
    transform: scale(1.2);
}
.Footer{
    align-self: flex-start;
    margin-top:20px;
    font-style: italic; 
    color: black;
}
.quote{
    align-self: flex-start;
    margin-top:10px;
    font-style: italic; 
    color: grey;
    max-width: 350px;
}