* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(57, 121, 241);
    padding: 15px;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.counter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    height: 50px;
    width: 100px;
    font-size: 18px;
    background-color: white;
    color: rgb(57, 121, 241);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: rgb(57, 121, 241);
    color: white;
    cursor: pointer;
}

.reset {
    background-color: aquamarine;
}

.reset:hover {
    background-color: rgb(0, 255, 213);
}